* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 249, 249);
    width: 980px;
    margin: 20px auto;
    text-align: center;
}

nav li {
   display: inline-block;
    list-style-type: none;
   margin-right: 20px;
    border: 1px solid darkgray;
    border-radius: 8px;
    box-shadow: 0 0 3px 1px gray;
    padding: 4px 15px;
    background-color:  rgb(194, 168, 219);
    text-align: center;

}

nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(74, 21, 100);
    font-weight: bold;
}

nav li:hover {
 
    /* color: rgb(74, 21, 100); */
    background-color: white;
}

.italic{
    font-style: italic;
}

.catalog {
    text-decoration: none;
    text-transform: uppercase;
    color: chocolate;
}

.catalog:hover {
    background-color: white;
    color: rgb(82, 37, 82);
}

form {
    margin-top: 30px;
    position: relative;
}
form label {
    display: block;
    margin: 10px auto;
    width: 400px;
}

form label span {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

form label input {
    display: inline-block;
    width: 200px;
}

form input[type="submit"] {
    width: 100px;
    position: relative;
    left: 30px;
    text-transform: uppercase;
}

.checkbox{
    position: relative;
    left: -93px;
}

.promoted {
    color:rgb(184, 87, 8);
}