<h1>Catalog Page</h1>
<a href="/catalog/create">Create a new product</a>
<p>Products:</p>
<ul>
    {{#each products}}
    {{> product}}
    {{else}}
    <span class="italics">No products in database!</span>
    {{/each}}
</ul>